*{
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
}
h1{
    text-align: center;
}
table{
    margin: 0 auto;
    width: 85%;
    text-align: center;

}
.glasspoison{
    background: linear-gradient(rgb(14, 161, 14),rgb(138, 54, 216));
}
.glass{
    background: rgb(14, 161, 14);
}
.poison{
    background: rgb(138, 54, 216);
}
.normal{
    background: #727070;
    color: #fff;
}
.rocha{
    background: rgb(136, 107, 35);
}
.tdf{
    text-align: left;
}