<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemom GO</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
    <header>
        <img src="../static/imgs/pokemonlogo.png">
        
    </header>
    <br>
    <section>
        <h3>Jogador</h3>
        <div>
            <div class="box">
                <a href="pokemon.html"><div class="pokemon"> <div><img src="../static/imgs/Pokeball.png"></div>Pokemon</div></a>
                <a href="pokedex.html"><div class="pokedex"> <div><img src="../static/imgs/pokedex.png"></div>Pokedex</div></a>
                <a href="Mochila.html"><div class="mochila"> <div><img src="../static/imgs/muchila.webp"></div>Mochila</div></a>
                
            </div>
            <diV class="box">
                <a href="regiao.html"><div class="regiao"> <div><img src="../static/imgs/regiao.png"></div>Mochila</div></a>
                <a href="equipe.html"><div class="equipe"> <div><img src="../static/imgs/fantasy-team-logo.webp"></div>Team</div></a>
                <a href="medalhas.html"><div class="medalhas"> <div><img src="../static/imgs/medalhas.png"></div>Mochila</div></a>
            </diV>
        </div>
    </section>
    <br>
    <footer>
        <h4>Contato:</h4>
    </footer>    
</body>
</html>