<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bulbasaur</title>
    <link rel="stylesheet" href="../static/css/normaltype.css">
</head>
<body>
    <header>
        <h1>#506 Lillipup</h1>
    </header>
    <div class="box">
        <div><img src="../static/imgs/lillipup.avif"></div>
        <div>
            <div>
                <table class="table60">
                    <tr>
                        <th>LV</th>
                        <th>PC</th>
                        <th>IV</th>
                        <th>PS</th>
                        <th>ATK</th>
                        <th>DEF</th>
                        <th>SPE</th>
                        
                        
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>64</td>
                        <td>77</td>
                        <td>29</td>
                        <td>12</td>
                        <td>13</td>
                        <td>10</td>                      
                    </tr>
                </table>
            </div>
            <div>
                <table>
                    <tr>
                        <th>Peso</th>
                        <th>Altura</th>
                        <th>Tipo 1</th>
                        <th>Tipo 2</th>
                        <th>Genero</th>
                    </tr>
                    <tr>
                        <td>4,1 kg</td>
                        <td>0,38 m</td>
                        <td class="normal">Nomal</td>
                        <td class="normal"></td>
                        <td>Macho</td>
                    </tr>
    
                </table>


            </div>
            <div>
                <table>
                    <tr>
                        <th>Ataque 1</th>
                        <th>PC</th>
                        <th>Ataque 2</th>
                        <th>PC</th>
                    </tr>
                    <tr>
                        <td class="normal">Desmantelar</td>
                        <td class="normal">8</td>
                        <td class="rocha">Tumba de Rocha</td>
                        <td class="rocha">80</td>
                    </tr>
    
                </table>


            </div>
            
        </div>
        <div>
            <p><b>Especies:</b> Pokemon Filhote</p>
            <p>Este Pokémon é bastante popular com iniciantes porque é inteligente, obediente e fácil de criar</p>
        </div>
    </div>

    <a href="pokemon.html">Voltar</a>
    
</body>
</html>