<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/pokemon.css">
</head>
<body>
    <header>
        <h1>Pokemon</h1>
    </header>
    <section>
    <table>
        <tr>
            <th>DEX</th>
            <th>Pokemon</th>
            <th>PC</th>
            <th>LV</th>
            <th>IV</th>
            <th>PS</th>
            <th>ATK</th>
            <th>DEF</th>
            <th>SPE</th>
        </tr>
        <tr class="glasspoison">
            <td>#001</td>
            <td><a href="bulbasaur.html">Bulbasaur</a></td>
            <td>14</td>
            <td>1</td>
            <td>66</td>
            <td>12</td>
            <td>10</td>
            <td>10</td>
            <td>10</td>

        </tr>
        <tr class="normal">
            <td>#506</td>
            <td><a href="lillipup.html">Lillipup</a></td>
            <td>64</td>
            <td>3</td>
            <td>77</td>
            <td>29</td>
            <td>12</td>
            <td>13</td>
            <td>10</td>

        </tr>
    </table>
</section>
<br>
    <section>
    <table>
        <tr>
            <th>Tipo</th>
            <th>Pego</th>
        </tr>
        <tr td class="glasspoison">
            <td>Glass/poison</td>
            <td>1</td>
        </tr>
        <tr class="poison">
            <td>Poison</td>
            <td>0</td>
        </tr>
        <tr class='normal'>
            <td>Normal</td>
            <td>1</td>
        </tr>
        <tr>
            <td>total</td>
            <td>2</td>
        </tr>
    </table>
</section>
    <a href="index.html">Voltar</a>
    
</body>
</html>