<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    ,<link rel="stylesheet" href="../static/css/pokedex.css">
</head>
<body>
    <header>
        <img src="../static/imgs/pokemonlogo.png">
    </header>
    <section>
        <h1>Pokedex</h1>
    <table>
        <tr>
            <th>DEX</th>
            <th>Pokemon</th>
            <th>Type</th>
            <th>Pego</th>
        </tr>
        <tr class="glasspoison">
            <td>#001</td>
            <td><a href="bulbasaur.html"><div><img src="../static/imgs/bulbasaur.avif">Bulbasaur</div></a></td>
            <td>Grass / Poison</td>
            <td>1</td>
        </tr>
        <tr class="normal">
            <td>#506</td>
            <td><a href="lillipup.html"><div><img src="../static/imgs/lillipup.avif">Lillipup</div></a></td>
            <td>Normal</td>
            <td>1</td>
        </tr>
    </table>
</section>
<br>
    <section>
    <table>
        <tr>
            <th>Simbol</th>
            <th>Tipo</th>
            <th>Pego</th>
        </tr>
        <tr td class="glasspoison">
            <td><img src='../static/imgs/Grasstype.webp'></td>
            <td>Glass/poison</td>
            <td>1</td>
        </tr>
        <tr class="poison">
            <td><img src="../static/imgs/poison"></td>
            <td>Poison</td>
            <td>0</td>
        </tr>
        <tr class='normal'>
            <td><img src="../static/imgs/Normaltype.webp"></td>
            <td>Normal</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Total</td>
            <td>2</td>
        </tr>
    </table>
</section>
    <a href="index.html">Voltar</a>
    
    
</body>
</html>