<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/pokemon.css">
</head>
<body>
    <header>
        <h1>Pokemon</h1>
    </header>
    <table>
        <tr>
            <th>DEX</th>
            <th>Pokemon</th>
            <th>PC</th>
            <th>LV</th>
            <th>IV</th>
            <th>PS</th>
            <th>ATK</th>
            <th>DEF</th>
            <th>SPE</th>
        </tr>
        <tr class="glassveno">
            <td>#001</td>
            <td><a href="bulbasaur.html">Bulbasaur</a></td>
            <td>14</td>
            <td>1</td>
            <td>66</td>
            <td>12</td>
            <td>10</td>
            <td>10</td>
            <td>10</td>

        </tr>
    </table>
    
</body>
</html>